@font-face {
  font-family: "Warfare";
  src: url("./fonts/MODERN\ WARFARE.ttf");
}
@font-face {
  font-family: "Schwachsin";
  src: url("./fonts/Schwachsinn-Italic.ttf");
}
@font-face {
  font-family: "Schwachsin3D";
  src: url("fonts/Schwachsinn3D-Filled.ttf");
}
:root {
  font-size: 16px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #282b27, #51574f, #282b27);
}

nav {
  font-size: 7rem;
  height: 150px;
  font-weight: bolder;
  text-align: center;
  padding: 20px 0;
  font-family: "Warfare";
  color: white;
}

main {
  display: flex;
  height: fit-content;
  flex: 1 0 auto;
}
#tableMain,
#nameMenu {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#selectionMenu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#playerOne,
#playerTwo {
  width: clamp(350px, 30vw, 500px);
  height: clamp(350px, 30vw, 500px);
  background-color: #234d88b8; /* 222175bb */
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: calc(10% - 4px);
  height: calc(10% - 4px);
  border: 2px solid rgb(247, 244, 244);
  cursor: pointer;
}

/* NAME MENU */
#nameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  width: 400px;
}

#label {
  text-align: center;
  font-family: "Schwachsin3D";
  color: black;
  font-size: 6rem;
  width: 700px;
}

#nameInput {
  width: 95%;
  height: 10vh;
  font-size: 3.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Schwachsin";
}
#nameInput::placeholder {
  color: rgb(29, 28, 28);
}
#nameButton {
  width: 95%;
  height: 10vh;
  border-style: none;
  background-color: greenyellow;
  cursor: pointer;
  border: 2px solid black;

  font-size: 3rem;
}

#nameButton:active {
  transform: scale(95%);
  transition: 0.2s;
}

/* Ship Select Menu */

#shipSettings {
  display: flex;
  justify-content: center;
  align-items: center;
}

#changeDirection {
  border-style: none;
  border: 3px solid gray;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  background-color: white;
  font-size: 1rem;
}
#changeDirection:active {
  transform: scale(90%);
  transition: 0.2s;
}
#shipImage {
  width: 400px;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 3rem;
  font-family: "Warfare";
}
